.board_wrapper {
    width: 80%;
    border: 1px solid ghostwhite;
}

.board_header {
    height: 55px;
    background-color: lightgrey;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    margin: 15px 5px;
    padding: 0px 35px;

        
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
}

.board_title {
    font-size: 1.2rem;
    font-weight: 500;
    cursor: crosshair;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.board_header__deselectBtn {
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
/* 
.board_header__deselectBtn:hover {
    box-shadow: 
    0 0 0 1px rgba(0, 0, 0, 0.5),
    inset 0 0 0 100vmax  rgba(0, 0, 0, 0.3);
}

.board_header__deselectBtn:active {
    box-shadow: inset 0 0 0 100vmax  rgba(0, 0, 0, 0.5);
} */


.board_body {
    height: calc(100% - 55px);
    width: 100%;
    background: white;

    display: flex;
    overflow-x: scroll;
}

.addingTaskBtn {
    width: 270px;
    height: 50px;

    display: flex;
    align-items: center;

    padding-left: 15px;
    margin: 10px;

    background-color: black;
    color: white;
    opacity: .5;

    cursor: pointer;

        
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.7);
}

.addingTaskBtn:hover {
    opacity: .8;
}