

.boardCard_cont {
    width: 100%;
    height: 35px;
    line-height: 35px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.boardCard_cont:hover {
    opacity: .7;
    background-color: lightgrey;
}

.boardCard_title {
    font-size: .85rem;
    opacity: .7;
}

.boardIcon_cont {
    height: 18px;
    width: 18px;
    border-radius: 2px;

    margin: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.boardIcon_cont:hover {
    background-color: rgb(190, 194, 197);
}