.dashboard_cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 20%;
}

.dashboard_userInfo {
    height: 180px;
    text-align: left;
}

.userInfo_userName {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 1.5rem;
    cursor: alias;
}

.dashboard_cardsCont {
    width: 80%;
    
}