.task_card {
    min-width: 270px;
    margin: 10px;

    background-color: lightcyan;
    border-radius: 4px;
    height: min-content;

    display: flex;
    flex-direction: column;

    border: 1px solid white;
}

.task_card:hover {
    border: 1px solid grey;
}

.addingTaskBtn {
    width: 270px;
    height: 50px;

    margin: 10px;
    padding: 7px;

    background-color: black;
    color: white;
    opacity: .5;

    cursor: pointer;
}

.addingTaskBtn:hover {
    opacity: .8;
}

.task_header {
    display: flex;
    justify-content: space-between;
}

.task_headerObj {
    margin: 15px;
}

.toggleAdding_btn {
    width: 100%;
    height: 100%;
}