.task_card {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    margin: 10px;

    background-color: lightcyan;
    border-radius: 4px;
    height: min-content;
}

.task_header {
    display: flex;
    justify-content: space-between;
}

.task_headerObj {
    margin: 15px;
}

.new_task {

}

.todo_card {
    background-color: white;
    margin: 5px 10px;
    padding: 12px;
    width: calc(100% - 20px);

    display: flex;
    justify-content: space-between;

}

.todo_txt {
    /* height: 100%;
    line-height: 100%; */
}

.panel_mutateTodo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.todoMutator {
    margin: 3px;
}

.toggleAdding_btn {
    width: 100%;
    height: 100%;
}