.task_card {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 10px;

    background-color: lightcyan;
    border-radius: 4px;
    max-height: 400px;
}

.task_title {
    margin: 15px;
}

.new_task {

}

.todo_card {
    background-color: white;
    margin: 5px 10px;
    padding: 12px;

}

.new_todo {
    
}