.todo_card {
    background-color: white;
    margin: 5px 10px;
    padding: 12px;
    width: calc(100% - 20px);

    display: flex;
    justify-content: space-between;

    border-radius: 3px;

    font-size: .82rem;
    font-style: italic;

    cursor: grab;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
}
.todo_card:hover {
    box-shadow: 
    0px 0px 0px 1px rgba(0, 0, 0, .4),
    1px 1px 10px rgba(0, 0, 0, .15);
}
.todo_card:active {
    cursor: grabbing;
    background-color: rgb(255, 255, 255, 1);
}
.panel_mutateTodo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.todoMutator {
    margin: 3px;
}
