.login_cont {
    width: 250px;
    border-radius: 2px;
    background: lightgrey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login_input {
    width: 95%;
    height: 50px;
    margin-top: 5px;
}

.login_btn {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    cursor: pointer;

    display: flex;
    justify-content: center;
}